@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins;
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(219, 219, 219); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(214, 214, 214); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
  }

#cont_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.45);
    border: solid 5px white;
    border-radius: 70px;
    display: grid;
    align-items: center;
    backdrop-filter: blur(10px);
}

.header {
    text-align: center;
}

#cont_main h1 {
    margin: 0;
    font-size: 36pt;
}

#cont_main p {
    margin-top: 0;
}

#cont_pc {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 90%;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 50px; 
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    border: solid white 2px;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.25s;
}

button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5),
                inset 0px 0px 5px rgba(255, 255, 255, 0.5);
    
}

.pc {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}